<h1><%= @recipe_category.name %></h1>

<%= form_for(@recipe_category) do |f| %>
  <%= f.text_field :name, size: 20 %>
  <%= f.check_box :basic %> Base
  <%= f.submit "Modifier cette catégorie" %>
<% end %>

<br /><br />

<table class="table table-condensed">
  <tr>
    <th>Nom</th>
    <th>Recette pour</th>
    <th>Coût</th>
    <th></th>
  </tr>
  <%= render @recipe_category.recipes %>
</table>