<p id="notice"><%= notice %></p>

<p>
  <b>Recipe:</b>
  <%= @recipe_step.recipe %>
</p>

<p>
  <b>Name:</b>
  <%= @recipe_step.name %>
</p>

<p>
  <b>Description:</b>
  <%= @recipe_step.description %>
</p>


<%= link_to 'Edit', edit_recipe_step_path(@recipe_step) %> |
<%= link_to 'Back', recipe_steps_path %>
