<div class="row">
  <div class="col-md-6">
    <%= form_for HtmlSnippet.new do |f| %>
      <%= f.text_field :location, size: 20 %><br />
      <%= f.text_area :html %><br />
      <%= f.submit "Ajouter snippets" %>
    <% end %>
  </div>
  <div class="col-md-6">
    <% HtmlSnippet.all.each do |s| %>
      <%= form_for s do |f| %>
        <h3><%= s.location %></h3>
        <%= f.text_area :html %><br />
        <%= f.submit "Modifier snippets" %>
      <% end %>
    <% end %>
  </div>
</div>