    <tr>
      <td><%= link_to recipe.name, recipe %></td>
      <td><%= "#{recipe.quantity} #{recipe.unit}" %></td>
      <td>
        <% if recipe.unit == "personnes" or recipe.unit == "parts" %>
          <%= (recipe.cost / recipe.quantity).round(2) %>€ par <%= recipe.unit %>
        <% else %>
          <%= recipe.cost.round(2) %>€
        <% end %>
      </td>
      <td><%= "A la vente" if recipe.sellable %></td>
    </tr>