<p id="notice"><%= notice %></p>

<h1><%= @recipe.name %></h1>
<h2><%= @recipe.category %></h2>

<div class="row">
  <div class="col-md-6">
      Pour <%= @recipe.quantity %><%= @recipe.unit %>
  </div>
  <div class="col-md-6">
    <%= link_to "Afficher la recette", recipe_path(@recipe)%>
  </div>
</div>


<hr />

<% steps = 0 %>
<% @recipe.steps.each do |step| %>
  <% unless @recipe.base? %>
    <% steps += 1 %>
    <h2>Etape <%= steps %> - <%= step.name %></h2>
  <% end %>
  <div class="row">
    <div class="col-md-5">
      <table class="table table-condensed">
        <% step.ingredients.each do |ingredient| %>
          <%= form_for(ingredient) do |f| %>
            <tr>
              <td><%= f.text_field :quantity, size: 10 %> <%= ingredient.ingredient.unit %></td>
              <td><%= link_to ingredient.ingredient.name, ingredient.ingredient %></td>
              <td><%= f.submit "Modifier" %></td>
              <td><%= delete_icon ingredient %></td>
            </tr>
          <% end %>
        <% end %>
        <tr>
          <%= form_for RecipeIngredient.new do |f| %>
            <%= f.hidden_field :recipe_step_id, value: step.id %>
            <td><%= f.text_field :quantity, size: 10 %></td>
            <td><%= f.collection_select :ingredient_id, Ingredient.all, :id, :to_s %></td>
            <td><%= f.submit "Ajouter ingrédient "%></td>
          <% end %>
        </tr>
      </table>
    </div>
    <div class="col-md-7">
      <%= step.description %>
      <br /><br />
      <%= delete_icon step, " Supprimer cette étape" %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= edit_icon step, " Modifier cette étape" %>
    </div>
  </div>
  <hr />
<% end %>

<% unless @recipe.base? %>
  <br /><br />
  <div class="row">
    <div class="col-md-6">
      <%= form_tag basic_insertion_recipe_path do %>
        <fieldset>
          <legend>Insérer une recette de base</legend>
          <% grouped_options = {}  %>
          <% latest_category = nil %>
          <% latest_group = [] %>
          <% Recipe.basics.each do |r| %>
            <% latest_category = r.recipe_category if latest_category.nil? %>
            <% if latest_category == r.recipe_category %>
              <% latest_group << ["#{r.name} (en #{r.unit})", r.id] %>
            <% else %>
              <% grouped_options[latest_category.name] = latest_group %>
              <% latest_group = [["#{r.name} (en #{r.unit})", r.id]] %>
              <% latest_category = r.recipe_category %>
            <% end %>
          <% end %>
          <% grouped_options[latest_category.name] = latest_group %>
          <%= select_tag "basic", grouped_options_for_select(grouped_options) %>
          <%= text_field_tag "quantity", "Quantité" %>
          <%= submit_tag "Insérer en tant qu'étape" %>
        </fieldset>
      <% end %>
      <br /><br />
<% end %>

<%= form_for(@recipe) do |f| %>
  <fieldset>
    <legend>Modifier cette recette</legend>
    <%= f.text_field :name, size: 40 %>&nbsp;
    <%= f.collection_select :recipe_category_id, RecipeCategory.all, :id, :name %>&nbsp;
    <%= f.number_field :quantity, size: 4 %>&nbsp;<%= @recipe.unit %>&nbsp;&nbsp;
    <%= f.submit "Modifier cette recette" %>
  </fieldset>
<% end %><br /><br />
<%= form_for(@recipe) do |f| %>
  <fieldset>
    <legend>Informations publiques</legend>
    <%= f.check_box :sellable %> A la vente ?<br />
    <%= f.text_area :public_comment, value: (@recipe.public_comment.blank? ? "Texte publique (description, prix indicatif...)" : @recipe.public_comment.blank?), size: "80x5" %><br />
    <%= f.submit "Modifier cette recette" %>
  </fieldset>
<% end %>

<% unless @recipe.base? %>
    </div>
    <div class="col-md-6">
      <%= form_for RecipeStep.new do |f| %>
        <fieldset>
          <legend>Ou créer une nouvelle étape</legend>
          <%= f.hidden_field :recipe_id, value: @recipe.id %>
          <%= f.text_field :name, value: "Nom de l'étape" %><br />
          <%= f.text_area :description, value: "Description de l'étape" %><br />
          <%= f.submit "Ajouter une étape" %>
        </fieldset>
      <% end %>
    </div>
  </div>
<% end %>
