<div class="row">
  <div class="col-md-6">
    <h1>Recettes de base</h1>
    <% @basic_recipes_by_category.each do |category, recipes| %>
      <% unless recipes.empty? %>
        <h2><%= link_to category.name, category rescue "Sans catégorie" %></h2>
        <table class="table table-condensed">
          <tr>
            <th>Nom</th>
            <th>Recette pour</th>
            <% if @display_prices %><th>Coût</th><% end %>
            <th></th>
          </tr>
          <%= render recipes %>
        </table>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h1>Recettes non de base</h1>
    <% @unbasic_recipes_by_category.each do |category, recipes| %>
      <% unless recipes.empty? %>
        <h2><%= link_to category.name, category rescue "Sans catégorie" %></h2>
        <table class="table table-condensed">
          <tr>
            <th>Nom</th>
            <th>Recette pour</th>
            <% if @display_prices %><th>Coût</th><% end %>
            <th></th>
          </tr>
          <%= render recipes %>
        </table>
      <% end %>
    <% end %>
  </div>
</div>

<br />
<hr />

<%= form_for(Recipe.new) do |f| %>
  <%= f.text_field :name, size: 40 %> 
  pour <%= f.number_field :quantity, size: 4 %> <%= f.collection_select :unit, Recipe::UNITS, :to_s, :to_s %> 
  
  <% grouped_categories = {} %>
  <% tmp = RecipeCategory.all.group_by(&:basic) %>
  <% tmp.each do |basic, recipes| %>
    <% grouped_categories[basic ? "Base" : "Non base"] = tmp[basic].map { |recipe| [recipe.name, recipe.id]} %>
  <% end %>
  <%= select_tag "recipe[recipe_category_id]", grouped_options_for_select(grouped_categories) %>
  
  <%= f.submit "Créer cette recette" %>
<% end %>
<br />
<%= form_for(RecipeCategory.new) do |f| %>
  <%= f.text_field :name, size: 20 %>
  <%= f.check_box :basic %> Base
  <%= f.submit "Ajouter catégorie" %>
<% end %>
