<h1>Recettes</h1>

<table class="table table-condensed">
  <tr>
    <th>Nom</th>
    <th>Recette pour</th>
  </tr>
  <% @recipes.each do |recipe| %>
    <tr>
      <td><%= link_to recipe.name, recipe %></td>
      <td><%= "#{recipe.quantity} #{recipe.unit}" %></td>
    </tr>
  <% end %>
  </table>

<br />
<hr />

<%= form_for(Recipe.new) do |f| %>
  <%= f.text_field :name, size: 40 %> pour <%= f.number_field :quantity, size: 4 %> <%= f.collection_select :unit, Recipe::UNITS, :to_s, :to_s %> <%= f.collection_select :category, Recipe::CATEGORIES, :to_s, :to_s %> <%= f.submit "Créer cette recette" %>
<% end %>
