<p id="notice"><%= notice %></p>

<h1><%= @recipe.name %></h1>
<h2><%= @recipe.category %></h2>

<div class="row">
  <div class="col-md-6">
    <%= form_for(@recipe, :method => :get) do |f| %>
      Pour 
      <%= text_field_tag :quantity, @quantity %>
      <%= @recipe.unit %>
      <%= f.submit "Calculer" %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= edit_icon @recipe, " Modifier cette recette" %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= delete_icon @recipe, " Supprimer cette recette" %>
  </div>
</div>

<% full_cost = true %>
<% @recipe.steps.each do |step| %>
  <% step.ingredients.each do |ingredient| %>
    <% full_cost &= ingredient.has_cost? %>
  <% end %>
<% end %>
<%= (@recipe.cost * @ratio).round(2) %> €  -  <%= (@recipe.cost / @recipe.quantity).round(2) %> € par <%= @recipe.unit %><%= " (incomplet)" unless full_cost %>

<hr />

<% steps = 0 %>
<% @recipe.steps.each do |step| %>
  <% unless @recipe.base? %>
    <% steps += 1 %>
    <h2>Etape <%= steps %> - <%= step.name %></h2>
  <% end %>
  <div class="row">
    <div class="col-md-5">
      <table class="table table-condensed">
        <% step.ingredients.each do |ingredient| %>
          <tr>
            <td><%= "#{(ingredient.quantity * @ratio).round} #{ingredient.ingredient.unit}" %></td>
            <td><%= link_to ingredient.ingredient.name, ingredient.ingredient %></td>
            <td>
              <% if ingredient.has_cost? %>
                <%= (ingredient.cost[:cost] * @ratio).ceil(2) %> € (<%= ingredient.cost[:place] %> - <%= l ingredient.cost[:date]%>)
              <% else %>
                ???????
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-md-7">
      <%= step.description %>
    </div>
  </div>
  <hr />
<% end %>


<hr />
<% if @recipe.sellable %>
  <quote>
    <%= simple_format @recipe.public_comment %>
  </quote>
<% else %>
  Non mis à la vente
<% end %>

