<p id="notice"><%= notice %></p>

<h1><%= @recipe.name %></h1>
<h2><%= @recipe.category %></h2>

<div class="row">
  <div class="col-md-6">
    <%= form_for(@recipe, :method => :get) do |f| %>
      Pour 
      <%= text_field_tag :quantity, @quantity %>
      <%= @recipe.unit %>
      <%= f.submit "Calculer" %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= link_to "Affichage pour consultation", recipe_path(@recipe, :edit_mode => "false")%>
    &nbsp;&nbsp;-&nbsp;&nbsp;
    <%= link_to "Affichage pour modification", recipe_path(@recipe, :edit_mode => "true")%>
  </div>
</div>

<% full_cost = true %>
<% @recipe.steps.each do |step| %>
  <% step.ingredients.each do |ingredient| %>
    <% full_cost &= ingredient.has_cost? %>
  <% end %>
<% end %>
<%= @recipe.cost * @ratio %> €<%= "(incomplet)" unless full_cost %>

<hr />

<% steps = 0 %>
<% @recipe.steps.each do |step| %>
  <% unless @recipe.base? %>
    <% steps += 1 %>
    <h2>Etape <%= steps %> - <%= step.name %></h2>
  <% end %>
  <div class="row">
    <div class="col-md-5">
      <table class="table table-condensed">
        <% step.ingredients.each do |ingredient| %>
          <tr>
            <td><%= "#{ingredient.quantity * @ratio} #{ingredient.ingredient.unit}" %></td>
            <td><%= link_to ingredient.ingredient.name, ingredient.ingredient %></td>
            <td>
              <% if ingredient.has_cost? %>
                <%= ingredient.cost * @ratio %> €
              <% else %>
                ???????
              <% end %>
            </td>
            <% if @edit_mode %>
              <td><%= delete_icon ingredient %></td>
            <% end %>
          </tr>
        <% end %>
        <% if @edit_mode %>
          <tr>
            <%= form_for RecipeIngredient.new do |f| %>
            <%= f.hidden_field :recipe_step_id, value: step.id %>
            <td><%= f.text_field :quantity, size: 10 %></td>
            <td><%= f.collection_select :ingredient_id, Ingredient.all, :id, :to_s %></td>
            <td><%= f.submit "Ajouter ingrédient "%></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-md-7">
      <%= step.description %>
      <% if @edit_mode %>
        <br /><br />
        <%= delete_icon step, " Supprimer cette étape" %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= edit_icon step, " Modifier cette étape" %>
      <% end %>
    </div>
  </div>
  <hr />
<% end %>

<% if @edit_mode and not @recipe.base? %>
  <br /><br />
  <div class="row">
    <div class="col-md-6">
      <%= form_tag basic_insertion_recipe_path do %>
        <fieldset>
          <legend>Insérer une recette de base</legend>
          <%= select_tag "basic", options_for_select(Recipe.basics.map {|b| ["#{b.name} (en #{b.unit})", b.id]}) %>
          <%= text_field_tag "quantity", "Quantité" %>
          <%= submit_tag "Insérer en tant qu'étape" %>
        </fieldset>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= form_for RecipeStep.new do |f| %>
        <fieldset>
          <legend>Ou créer une nouvelle étape</legend>
          <%= f.hidden_field :recipe_id, value: @recipe.id %>
          <%= f.text_field :name, value: "Nom de l'étape" %><br />
          <%= f.text_area :description, value: "Description de l'étape" %><br />
          <%= f.submit "Ajouter une étape" %>
        </fieldset>
      <% end %>
    </div>
  </div>
<% end %>
