<table class="table table-condensed">
  <% @ingredients_by_unit.each do |unit, ingredients| %>
    <thead>
      <th>Nom</th>
      <th>Dernier prix enregistré</th>
      <th></th>
    </thead>
    <tbody>
      <% ingredients.each do |ingredient| %>
        <tr>
          <td><%= link_to ingredient.name, ingredient %></td>
          <td>
            <% price = ingredient.price %>
            <% unless price.blank? %>
              <%= "#{price.price} € pour #{price.quantity} #{ingredient.unit} - #{price.place} - " %><%= l price.date, format: :default %>
            <% end %>
          </td>
          <td><%= link_to "Nouveau prix", new_price_path(ingredient: ingredient)%></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>

<%= link_to "Nouvel ingrédient", new_ingredient_path %>
