<div class="row">
  <% @ingredients_by_unit.each do |unit, ingredients| %>
    <div class="col-md-4">
      <h4>Ingrédients en <%= unit %></h4>
      <table class="table table-condensed">
        <thead>
          <th>Nom</th>
          <th>Dernier prix enregistré</th>
        </thead>
        <tbody>
          <% ingredients.each do |ingredient| %>
            <tr>
              <td><%= link_to ingredient.name, ingredient %></td>
              <td>
                <% price = ingredient.price %>
                <% unless price.blank? %>
                  <%= "#{price.price} € pour #{price.quantity} #{ingredient.unit}" %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <tr>
            <%= form_for Ingredient.new do |f| %>
              <%= f.hidden_field :unit, value: unit %>
              <td><%= f.text_field :name, size: 20 %></td>
              <td><%= f.submit "Ajouter ingrédient" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
