<h1><%= @ingredient.name %></h1>

<% if @ingredient.prices.empty? %>
  Aucun prix enregistré
<% else %>

  <table class="table table-condensed">
    <% @ingredient.prices.each do |price| %>
      <tr>
        <td><%= "#{price.price} € pour #{price.quantity} #{@ingredient.unit}" %></td>
        <td><%= price.place %></td>
        <td><%= l price.date %></td>
      </tr>
    <% end %>
  </table>

<% end %>
<%= link_to "Nouveau prix", new_price_path(ingredient: @ingredient)%>
