  <div id="ht-main-content" class="gallery">

    <div class="ht-page-heading">
      <div class="container">
        <div class="row">
          <div class="main-heading col-xs-12">
            <h1><strong>&middot;</strong> Nos gâteaux décorés et gâteaux 3D <strong>&middot;</strong></h1>
          </div><!-- / main-heading -->
          <div class="sub-heading col-sm-6 col-sm-offset-3 col-xs-12">
            <p>Envie d'un gâteau décoré pour vos occasions : mariage, anniversaire, goûter d'enfant... ? Nous vous proposons des gâteaux décorés, personnalisés sur mesure, à base de pâte à sucre ainsi que des gâteaux 3D.</p>
            <p>Mais à L'Îlot Sucré, vous aurez plus qu'une simple génoise. En effet, nos gâteaux décorés sont composés généralement d'un <strong>véritable entremet mousse</strong> entouré d'une couche de biscuit, le tout recouvert d'une fine couche de pâte à sucre afin de garantir un équilibre du sucre. Nos gâteaux sont assurément <strong>aussi bons que beaux</strong>!</p>
            <p>Nous <%= link_to "contacter", "/contact" %> pour concevoir ensemble un gâteau qui vous ressemble. Merci de prendre contact au minimum <strong>10 jours ouvrés</strong> avant votre évènement.</p>
          </div><!-- / sub-heading -->
        </div><!-- / row -->
      </div><!-- / container -->
    </div><!-- / page-heading -->
    
    <div id="ht-menu-sortbar">
      <div class="ht-tab-nav text-center">
        <ul id="filter-controller">
          <li><a href="#filter" data-filter="*" class="active">Tous</a></li>
          <li><a href="#filter" data-filter=".enfant">Pour enfants</a></li>
          <li><a href="#filter" data-filter=".adulte">Pour adultes</a></li>
          <li><a href="#filter" data-filter=".3d">3D</a></li>
        </ul>
      </div><!-- / ht-tab-nav -->
    </div><!-- / ht-menu-sortbar -->
    
    <div id="ht-gallery" class="masonry">
      <div class="container">
        <div id="filter-container">
          <div class="row">

<%
  photos = [
    { name: "baby_shower", theme: "adulte", url: "http://68.media.tumblr.com/9221464862fa0ec4a6fb89d72dce6c14/tumblr_nrmvckpUOO1uadryro1_1280.jpg" },
    { name: "decore_mouton", theme: "enfant", url: "http://68.media.tumblr.com/5cef02edb9d677a61c0b9207ce4f4c8a/tumblr_nrmvckpUOO1uadryro2_1280.jpg" },
    { name: "decore_neige", theme: "enfant", url: "https://40.media.tumblr.com/910a1e711c95854b95d9a9a96598d7c5/tumblr_nrmvckpUOO1uadryro7_1280.jpg" },
    { name: "mario", theme: "enfant", url: "https://40.media.tumblr.com/df965abcf42555aefc51453a3d262934/tumblr_nrmvckpUOO1uadryro3_1280.jpg" },
    { name: "minnie", theme: "enfant", url: "https://40.media.tumblr.com/224aaa31cb3d11435afc958f5b529751/tumblr_nrmvckpUOO1uadryro5_1280.jpg" },
    { name: "minnie_2", theme: "enfant", url: "http://68.media.tumblr.com/a927d14ae38d15db37373045ac9e341b/tumblr_nrmvckpUOO1uadryro6_1280.jpg" },
    { name: "tracteur", theme: "enfant 3d", url: "https://40.media.tumblr.com/03fafa5b7fdea6b89ab05ae3f86b9e2a/tumblr_nrmvckpUOO1uadryro8_1280.jpg" },
    {name: "fin_exams", theme: "adulte", url: "http://68.media.tumblr.com/965d42f0d7f8077f350bfdb79fcdcd29/tumblr_nrmvckpUOO1uadryro4_1280.jpg" },
    {name: "dahli", theme: "adulte", url: "http://68.media.tumblr.com/13b11cd3921b2f91506e2445b1d1ca06/tumblr_nvpcu1diSv1uadryro1_1280.jpg" }
  ].shuffle
%>

<% photos.each do |photo| %>            
            <div class="frame <%= photo[:theme] %> col-md-3 col-sm-4 onscreen-marker">
              <div class="media-container">
                <div class="inner">
                  <%= image_tag photo[:url] ,  class: "img-responsive" %>
                  <div class="hover-overlay color"></div><!-- / hover-overlay -->
                  <a data-lightbox-gallery="gallery1" href="<%= image_path photo[:url] %>" class="nivo-lightbox icon" title="">
                    <%= image_tag "icones/magnifying-glass_64px.png" %>
                  </a>
                </div><!-- / inner -->
              </div><!-- media-container -->
            </div><!-- / frame -->
<% end %>            

          </div><!-- / row -->
        </div><!-- / filter container -->
      </div><!-- container -->

    </div><!-- / ht-menu -->
    