<div id="ht-main-content" class="menu">

    <div id="nos-produits" class="ht-page-heading">
      <div class="container">
        <div class="row">
          <div class="main-heading col-xs-12">
            <h1><strong>&middot;</strong> Pâques 2016 <strong>&middot;</strong></h1>
          </div><!-- / main-heading -->
        </div><!-- / row -->
      </div><!-- / container -->
    </div><!-- / page-heading -->
    <div id="ht-menu" class="list">
<div class="container">		
         <div id="filter-container" class="menu-single-list">		
           		
           <div class="row"><!-- Entremet exotique -->		
             <div class="dish col-xs-12 onscreen-marker">		
               <div class="media-container col-md-4 col-sm-6">		
                 <div class="inner">		
                   <img src="https://36.media.tumblr.com/74867c3b955f4f819b1ee9c999138b34/tumblr_o4ep46jp8l1uadryro1_540.jpg" class="img-responsive" alt="">		
                   <a href="https://36.media.tumblr.com/74867c3b955f4f819b1ee9c999138b34/tumblr_o4ep46jp8l1uadryro1_1280.jpg" class="hover-overlay color nivo-lightbox"></a><!-- / hover-overlay -->		
                 </div><!-- / inner -->		
               </div><!-- media-container -->		
               <div class="content col-md-8 col-sm-6">		
                 <a><h3>Entremet agrume et exotisme</h3></a>		
                 <p>Dacquoise coco, croustillant coco, crémeux exotique et mousse aux agrumes.</p>		
                 <div class="row rating-row">		
                   <span class="average-rating col-xs-6">6 personnes : 27 €</span><!-- average rating -->		
                 </div><!-- / row -->
                 <div class="row rating-row">		
                   <span class="average-rating col-xs-6">12 personnes : 54 €</span><!-- average rating -->		
                 </div><!-- / row -->		
               </div><!-- content -->		
             </div><!-- / dish -->		
           </div><!-- / row Entremet exotique -->		
           		
           <div class="row"><!--Entremet chocolat -->		
             <div class="dish col-xs-12 onscreen-marker">		
               <div class="media-container col-md-4 col-sm-6">		
                 <div class="inner">		
                   <img src="https://41.media.tumblr.com/16479d91450ea643f65537afd5738105/tumblr_o4ep46jp8l1uadryro2_540.jpg" class="img-responsive" alt="">		
                   <a href="https://41.media.tumblr.com/16479d91450ea643f65537afd5738105/tumblr_o4ep46jp8l1uadryro2_1280.jpg" class="hover-overlay color nivo-lightbox"></a><!-- / hover-overlay -->		
                 </div><!-- / inner -->		
               </div><!-- media-container -->		
               <div class="content col-md-8 col-sm-6">		
                 <a><h3>Entremet chocolat banane et pointe de gingembre</h3></a>
                 <p>Biscuit chocolat, gelée banane gingembre citron vert, crémeux banane et mousse chocolat noir.</p>
                 <div class="row rating-row">
                   <span class="average-rating col-xs-6">6 personnes : 27 €</span><!-- average rating -->
                 </div><!-- / row -->
                 <div class="row rating-row">
                   <span class="average-rating col-xs-6">12 personnes : 54 €</span><!-- average rating -->
                 </div><!-- / row -->
               </div><!-- content -->
             </div><!-- / dish -->
           </div><!-- / row Bûche façon "Forêt Noire" -->
           		
         </div><!-- / filter-container -->
       </div><!-- container -->
      
  <div id="ht-main-content" class="homepage">
    <div id="ht-ultility" style="padding-top: 0px">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div class="item" id="white">
              <div class="background" style="background: url('<%= image_path "homepage/nous_nb.jpg" %>') 50% 0 no-repeat;"></div><!-- / background -->
              <div class="icon"></div>
              <h2>Nos valeurs</h2>
              <p class="onscreen-marker">L'Îlot Sucré vous propose une escapade gourmande dans l'univers de la pâtisserie d'Ingrid et Vincent. Alliant modernité et classicisme, les pâtisseries sont à l'image de leurs créateurs : une touche d'évasion et de voyage, le souci de la qualité des produits et de l'équilibre des saveurs.</p>
              <a class="ht-btn center-block" href="#ht-team">Qui sommes-nous ?</a>
            </div><!-- / ultility item -->
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="item" id="black">
              <div class="background" style="background: url('<%= image_path "homepage/saupoudrage_nb.jpg" %>') 50% 0 no-repeat;"></div><!-- / background -->
              <div class="icon"></div>
              <h2>Escapade gourmande</h2>
              <p>Le Canal Rhin-Rhône, aux abords duquel se trouve notre atelier, est pour nous source d'inspiration et d'invitation au voyage. Ainsi, nous mêlons saveurs d'ici et d'ailleurs et sommes fiers de vous présenter les grands classiques de la pâtisserie française, tels les macarons, aux côtés de gâteaux décorés typiques des Etats-Unis.</p>
              <a class="ht-btn center-block" href="#nos-produits">Nos produits</a>
            </div><!-- / ultility item -->
          </div>
          <div class="col-sm-4 col-xs-12">
            <div class="item" id="white">
              <div class="background" style="background: url('<%= image_path "homepage/vincent_nb.jpg" %>') 50% 0 no-repeat;"></div><!-- / background -->
              <div class="icon"></div>
              <h2>&Agrave; la commande</h2>
              <p>Imaginées et créées dans notre laboratoire, nos pâtisseries sont disponibles à la commande, à effectuer sur place, au téléphone ou par mail. Vous pouvez retirer vos commandes à notre atelier ou vous faire livrer par nos soins.</p>
              <a class="ht-btn center-block" href="/contact">Nous contacter</a>
            </div><!-- / ultility item -->
          </div>
        </div><!-- / row -->
      </div><!-- / container -->
    </div><!-- / ht-ultility -->
  </div><!-- / homepage -->
  
  <div id="ht-main-content" class="menu"> 
    <div id="nos-produits" class="ht-page-heading">
      <div class="container">
        <div class="row">
          <div class="main-heading col-xs-12">
            <h1><strong>&middot;</strong> Nos produits <strong>&middot;</strong></h1>
          </div><!-- / main-heading -->
        </div><!-- / row -->
      </div><!-- / container -->
    </div><!-- / page-heading -->

    <div id="ht-menu" class="grid">
      <div class="container">
        <div id="filter-container" class="menu-single-grid grid-3col">
          <div class="row">
            
<%
  produits = [
    { name: "macarons", title: "Nos macarons", text: "Régalez vos papilles avec nos macarons entièrement faits maison.", img: "https://40.media.tumblr.com/43be6745e2da3876ea7c136cf7fda097/tumblr_nrqfnuz9fU1uadryro1_1280.jpg" },
    { name: "macarons_geants", title: "Nos macarons géants", text: "Toute la gourmandise et la qualité de nos macarons, en version à partager.", img: "https://36.media.tumblr.com/228ec6f5d69a2d8b6431ed290622c662/tumblr_nrm1euHtdy1uadryro2_1280.jpg" },
    { name: "tartes", title: "Nos tartes", text: "Des créations modernes pour réinventer ce classique de nos grand-mères.", img: "https://40.media.tumblr.com/180e76046f3b0961ccf70467ba5fab87/tumblr_nrmhggwPL81uadryro1_1280.jpg" },
    { name: "entremets", title: "Nos entremets", text: "Grands classiques ou créations maison, découvrez nos desserts à base de mousses.", img: "https://40.media.tumblr.com/ccb18e8ddd416609343a81ff0751ce86/tumblr_nrkyp7ve2j1uadryro1_1280.jpg" },
    { name: "patisseries_americaines", title: "Nos pâtisseries américaines", text: "Laissez-vous tenter par nos cheesecakes ou autres pâtisseries d'inspiration américaine.", img: "http://40.media.tumblr.com/03ef2fd18b6914cf7ecc03e788ee1cd2/tumblr_nrmp6c3cYL1uadryro3_r1_540.jpg" },
    { name: "desserts_glaces", title: "Nos desserts glacés", text: "Des glaces intégralement faites maison pour vous rafraîchir.", img: "homepage/glaces.jpg" },
    { name: "gateaux_decores", title: "Nos gâteaux décorés et 3D", text: "Gâteaux décorés et gâteaux 3D faits sur mesure pour surprendre vos invités.", img: "homepage/gateaux_decores.jpg" },
    { name: "pour_vos_evenements", title: "Pour vos évènements", text: "Outre gâteaux décorés et gâteaux 3D, nous sommes à votre disposition pour animer vos évènements.", img: "https://36.media.tumblr.com/13b11cd3921b2f91506e2445b1d1ca06/tumblr_nvpcu1diSv1uadryro1_1280.jpg" },
    { name: "", title: "Pour les professionnels", text: "Restauration, évènementiel ou points de vente, contactez-nous pour réaliser vos pâtisseries.", img: "https://41.media.tumblr.com/4e92b1699ba78558c017eb217047bb18/tumblr_nrmhggwPL81uadryro4_1280.jpg" }
  ]
  
  produits.each do |produit|
%>         
            <div class="dish col-sm-4 col-xs-12 onscreen-marker">
              <div class="media-container col-xs-12">
                <div class="inner">
                  <%= image_tag produit[:img], class: "img-responsive" %>
                  <% unless produit[:name].empty? %>
                    <%= link_to "", "/" + produit[:name], {class: "hover-overlay color", title: produit[:title]} %>
                    <a href="/<%= produit[:name] %>" class="icon"><%= image_tag "icones/magnifying-glass_64px.png", class: "img-responsive" %></a>
                   <% end %>
                </div><!-- / inner -->
              </div><!-- media-container -->
              <div class="content col-xs-12">
                <% if produit[:name].empty? %>
                  <h3><%= produit[:title] %></h3>
                <% else %>
                  <a href="/<%= produit[:name] %>"><h3><%= produit[:title] %></h3></a>
                <% end %>
                <p><%= produit[:text] %></p>
              </div><!-- content -->
            </div><!-- / dish -->
<% end %>

          </div><!-- / row -->
        </div><!-- / tab-content -->
      </div><!-- container -->

    </div><!-- / ht-menu -->
</div><!-- / menu -->

  <div id="ht-main-content" class="about">
    <div id="ht-team">
      <div class="container">
        <div class="ht-page-heading">
          <div class="container">
            <div class="row">
              <div class="main-heading col-xs-12">
                <h1><strong>&middot;</strong> Qui sommes-nous ? <strong>&middot;</strong></h1>
              </div><!-- / main-heading -->
            </div><!-- / row -->
          </div><!-- / container -->
        </div><!-- / page-heading -->
        <div class="row">
          <div class="col-sm-6 col-xs-12 onscreen-marker">
            <div class="media-container">
              <div class="inner">
                <%= image_tag "homepage/ingrid.jpg", class: "img-responsive center-block"%>
                <div class="hover-overlay"></div><!-- / hover-overlay -->

                <p class="caption-heading">Ingrid</p>
                <div class="caption-overlay">
                  <p class="heading">Ingrid PEYRICHOU</p>
                  <p class="bio">
                    <em>Déjà enfant, je régalais ma famille en leur confectionnant des crèmes au chocolat. Aujourd'hui, c'est avec vous que je souhaite partager ma passion pour la pâtisserie, en vous faisant découvrir mon amour pour la recherche de l'équilibre et des associations de saveurs. Originaire de l'Île de la Réunion, j'aime apporter un peu d'exotisme et de soleil à vos papilles.</em><br /><br />

<strong>L'entremet qui me plaît</strong> : Macaron géant rose litchi et son confit framboise et litchi<br />
<strong>Le macaron pour lequel je fonds</strong> : Macaron noix de coco<br />
<strong>Ma tarte préférée</strong> : Tarte au marron et crémeux myrtille<br />
<strong>Ma spécialité</strong> : le travail du chocolat</p>
                </div><!-- / caption-overlay -->
              </div><!-- / inner -->
            </div><!-- / media-container -->
          </div><!-- / col-sm-4 col-xs-12 -->
          <div class="col-sm-6 col-xs-12 onscreen-marker">
            <div class="media-container">
              <div class="inner">
                <%= image_tag "homepage/vincent.jpg", class: "img-responsive center-block"%>
                <div class="hover-overlay"></div><!-- / hover-overlay -->

                <p class="caption-heading">Vincent</p>
                <div class="caption-overlay">
                  <p class="heading">Vincent OHL</p>
                  <p class="bio">
                    <em>Depuis mon plus jeune âge, élevé par un pépé-gâteau, j’ai été rapidement imprégné de cette passion qui l’animait. &Eacute;tant moi-même un amoureux inconditionnel des produits sucrés et des desserts, ma vocation était toute trouvée : la pâtisserie ! Avant toutes choses, ce sont bien les émotions gustatives que je recherche dans mes créations. Le jeu des textures et le mélange subtil des saveurs sont mes priorités.</em><br /><br />

<strong>L'entremet qui me plaît</strong> : Le Chocolat Tonka Caramel<br />
<strong>Le macaron pour lequel je fonds</strong> : Macaron Orange Passion Chocolat<br />
<strong>Ma tarte préférée</strong> : Tarte Orange Passion<br />
<strong>Ma spécialité</strong> : les glaces et sorbets</p>
                  </p>
                </div><!-- / caption-overlay -->
              </div><!-- / inner -->
            </div><!-- / media-container -->
          </div><!-- / col-sm-4 col-xs-12 -->
        </div><!-- / row -->
      </div><!-- / container -->
    </div><!-- / ht-team -->