<%

macarons = [
  {
    type: "specialites",
    nom: "Nos spécialités",
    macarons: [
      {parfum: "Coco", image: "bientot"},
      {parfum: "Orange Passion Chocolat", image: "bientot"},
      {parfum: "Pistache Griotte", image: "pistache-griotte"},
      {parfum: "Rose Litchi", image: "rose-litchi"},
      {parfum: "Toffee Beurre salé", image: "bientot"}
    ]
  },
  {
    type: "fruits",
    nom: "Aux fruits",
    macarons: [
      {parfum: "Citron", image: "citron"},
      {parfum: "Fraise", image: "fraise"},
      {parfum: "Framboise", image: "framboise"},
      {parfum: "Mangue", image: "mangue"},
      {parfum: "Myrtille", image: "myrtille"}
    ]
  },
  {
    type: "classiqes",
    nom: "Les classiques",
    macarons: [
      {parfum: "Café", image: "cafe"},
      {parfum: "Chocolat", image: "chocolat"},
      {parfum: "Pistache", image: "pistache"},
      {parfum: "Vanille", image: "vanille"}
    ]
  }
]

%>

  <div id="ht-main-content" class="menu">

    <div class="ht-page-heading">
      <div class="container">
        <div class="row">
          <div class="main-heading col-xs-12">
            <h1><strong>&middot;</strong> Nos macarons <strong>&middot;</strong></h1>
          </div><!-- / main-heading -->
          <div class="sub-heading col-sm-6 col-sm-offset-3 col-xs-12">
            <p>Régaler vos papilles avec nos macarons entièrement faits maison.</p>
          </div><!-- / sub-heading -->
        </div><!-- / row -->
      </div><!-- / container -->
    </div><!-- / page-heading -->

    <div id="ht-menu" class="set">
      <div class="container">
        <div id="filter-container" class="menu-set">
          <div class="row">
            
<% macarons.each do |type| %>

            <div class="a-set <%= type[:type] %> col-sm-4 col-xs-12">
              <div class="col-xs-12">
                <h2><%= type[:nom] %></h2>
              </div>
            
  <% type[:macarons].each do |macaron| %>
  
              <div class="dish col-xs-12 onscreen-marker">
                <div class="media-container col-lg-5 col-md-5 col-xs-12">
                  <div class="inner">
                    <%= image_tag "macarons/" + macaron[:image] + ".jpg", class: "img-responsive" %>
                    <a href="<%= image_path "macarons/" + macaron[:image] + ".jpg" %>" class="icon nivo-lightbox">
                      <%= image_tag "macarons/" + macaron[:image] + "_zoom.jpg", class: "img-responsive" %>
                    </a>
                  </div><!-- / inner -->
                </div><!-- media-container -->
                <div class="content col-lg-7 col-md-7 col-xs-12">
                  <a href="#"><h3><%= macaron[:parfum] %></h3></a>
                </div><!-- content -->
              </div><!-- / dish -->
  
  <% end %>
  
            </div><!-- / a-set -->

<% end %>

          </div><!-- / row -->
        </div><!-- / filter-container -->

      </div><!-- container -->

    </div><!-- / ht-menu -->