<% size = '100%' %>

<h1>Nos produits</h1>

<div class="row">
  <div class="col-md-4">
    <%= link_to image_tag('macarons/macaron_4.jpg', width: size), "/macarons" %><br />
    <%= link_to image_tag('macarons_geants/macaron_geant.jpg', width: size), "/macarons_geants" %>
  </div>
  <div class="col-md-4">
    <%= link_to image_tag('tartes/mirabelle.jpg', width: size), "/tartes" %><br /><br />
        Nos autres produits
    <ul>
      <li><%= link_to "Nos entremets", "/entremets" %></li>
      <li>
        Nos Pâtisseries Américaines
        <ul>
          <li><%= link_to "Les Cheese Cakes", "/cheese_cakes" %></li>
          <li><%= link_to "Autres pâtisseries américaines", "/autres_patisseries_americaines" %></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <%= link_to image_tag('gateaux_decores/minnie.jpg', width: size), "/gateaux_decores" %>
    <%= link_to image_tag('pour_vos_evenements/tracteur.jpg', width: size), "/pour_vos_evenements" %>
  </div>
</div>
