
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag('macarons/macaron_4.jpg'),' macarons' %>
      <div class="caption">
        <h3>Nos macarons</h3>
        <p>Régaler vos papilles avec nos macarons entièrement faits maison.</p>
        <p class="pull-right"><a href="/macarons" class="btn btn-default" role="button">Découvrir nos parfums</a></p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag('macarons_geants/macaron_geant.jpg'), 'macarons_geants' %>
      <div class="caption">
        <h3>Nos macarons géants</h3>
        <p>Toute la gourmandise et la qualité de nos macarons, en version à partager.</p>
        <p class="pull-right"><a href="/macarons_geants" class="btn btn-default" role="button">Découvrir nos créations</a></p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag('gateaux_decores/minnie.jpg'),'gateaux_decores' %>
      <div class="caption">
        <h3>Nos gâteaux décorés</h3>
        <p>Gâteaux décorés et gâteaux 3D faits sur mesure pour épater vos invités.</p>
        <p class="pull-right"><a href="/gateaux_decores" class="btn btn-default" role="button">Voir nos réalisations</a></p>
      </div>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag('tartes/mirabelle.jpg'),'tartes' %>
      <div class="caption">
        <h3>Nos tartes</h3>
        <p>Des créations modernes pour réinventer ce classique de nos grand-mères.</p>
        <p class="pull-right"><a href="/tartes" class="btn btn-default" role="button">Découvrir</a></p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag 'mozaique.jpg' %>
      <div class="caption">
        <h3>Nos autres produits</h3>
        <p>
          <ul>
            <li><%= link_to "Nos entremets", "/entremets" %></li>
            <li>
              Nos Pâtisseries Américaines
              <ul>
                <li><%= link_to "Les Cheese Cakes", "/cheese_cakes" %></li>
                <li><%= link_to "Autres pâtisseries américaines", "/autres_patisseries_americaines" %></li>
              </ul>
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag('pour_vos_evenements/tracteur.jpg'),'pour_vos_evenements' %>
      <div class="caption">
        <h3>Pour vos évènements</h3>
        <p>Outre gâteaux décorés et gâteaux 3D, nous sommes à votre disposition pour animer vos évènements.</p>
        <p class="pull-right"><a href="/pour_vos_evenements" class="btn btn-default" role="button">Voir nos services</a></p>
      </div>
    </div>
  </div>
</div>
