<h1>Nos produits</h1>
<ul>
  <li><%= link_to "Nos entremets", "/entremets" %></li>
  <li><%= link_to "Nos tartes", "/tartes" %></li>
  <li><%= link_to "Nos macarons géants", "/macarons_geants" %></li>
  <li><%= link_to "Nos macarons", "/macarons" %></li>
  <li>
    Nos Pâtisseries Américaines
    <ul>
      <li><%= link_to "Les Cheese Cakes", "/cheese_cakes" %></li>
      <li><%= link_to "Nos gâteaux décorés", "/gateaux_decores" %></li>
      <li><%= link_to "Autres pâtisseries américaines", "/autres_patisseries_americaines" %></li>
    </ul>
  </li>
  <li><%= link_to "Pour vos évènements", "/pour_vos_evenements" %></li>
</ul>
