<!DOCTYPE html>
<html>
  <head>
    <!-- Basic needs -->
    <title>L'Îlot Sucré</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content=""> 
    <link rel="shortcut icon" href="img/favicon.ico">
  
    <!-- Mobile specific meta -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone-no"> 
  
    <!-- CSS files -->
    <%= stylesheet_link_tag "application", :media => "all" %>
  
  
    <!-- JS files -->
    <%= javascript_include_tag "application" %>
  
    <!-- Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300,700,800,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700bold' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!-- P A G E   P R E L O A D -->
    <div id="preload">
      <div class="inner">
        <%= image_tag "logo/logo_blanc_preload.png", class: "logo pulse" %>
        <div class="rotate rotating">
          <div class="inner">
            <div class="dot dot-1"></div>
            <div class="dot dot-2"></div>
          </div>
        </div>
      </div>
    </div>
  <!-- / preload -->
  
  <header id="ht-header" data-ht-parallax="300" style="background-image: url('<%= image_path "background/menu.jpg" %>')">
    <div class="filter-overlay"></div><!-- / filter-overlay -->
      <div class="container">
        <!-- Logo -->
        <a id="ht-logo" href="#">
          <%= image_tag "logo/logo_blanc_preload.png", class: "img-responsive center-block" %>
        </a>
        <br />
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 col-xs-12" style="text-align: center; color: white;">
            <div style="display: block; margin-left: auto; margin-right: auto; width: 100%; padding: 15px; border: groove white; background-color: #BE1621;">
              Nous avons provisoirement cessé notre activité.<br />
              Redémarrage début 2017 à Benfeld.<br />
              Suivez-nous sur <a href="http://www.facebook.com/lilotsucre" class="fa fa-facebook">acebook</a> pour être averti de la reprise.
            </div>
          </div>
        </div>
      </div>
    </header>

  <!-- JS Files -->
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <!--[if lt IE 9]>
   <script type="text/javascript" src="plugin/datetimepicker/DateTimePicker-ltie9.js"></script>
  <![endif]-->
  
  </body>
</html>
