<!DOCTYPE html>
<html>
  <head>
    <!-- Basic needs -->
    <title>L'Îlot Sucré</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content=""> 
    <link rel="shortcut icon" href="img/favicon.ico">
  
    <!-- Mobile specific meta -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone-no"> 
  
    <!-- CSS files -->
    <%= stylesheet_link_tag "application", :media => "all" %>
  
  
    <!-- JS files -->
    <%= javascript_include_tag "jquery" %>
  
    <!-- Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300,700,800,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700bold' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!-- P A G E   P R E L O A D -->
    <div id="preload">
      <div class="inner">
        <%= image_tag "logo/logo_blanc_preload.png", class: "logo pulse" %>
        <div class="rotate rotating">
          <div class="inner">
            <div class="dot dot-1"></div>
            <div class="dot dot-2"></div>
          </div>
        </div>
      </div>
    </div>
  <!-- / preload -->
  
  <header id="ht-header" data-ht-parallax="300" style="background-image: url('<%= image_path "background/menu.jpg" %>')">
    <div class="filter-overlay"></div><!-- / filter-overlay -->
      <div class="container">
        <!-- Logo -->
        <a id="ht-logo" href="#">
          <%= image_tag "logo/logo_blanc_preload.png", class: "img-responsive center-block" %>
        </a>
        <br />
        <div class="row">
          <div class="col-sm-3 col-xs-12">
            <%= image_tag "logo/ingrid_phone.png", style: "display: block; margin-left: auto; margin-right: auto" %>
          </div>
          <div class="col-sm-6 col-xs-12" style="text-align: center; color: white;">
            <div style="display: block; margin-left: auto; margin-right: auto; width: 100%; padding: 15px; border: groove white; background-color: #BE1621;">
              Entremets - Macarons - Gâteaux décorés - Gâteaux 3D<br />
              Sur commande uniquement
            </div>
            <br />
            <p>
              <a href="mailto:contact@lilotsucre.com">contact@lilotsucre.com</a><br />
              18 rue de Cannes - Illkirch-Graffenstaden
            </p>
            <br />
            <p>
              Site en construction. Pour patienter, découvrez-nous sur <a href="https://www.facebook.com/lilotsucre">Facebook</a>
            </p>
          </div>
          <div class="col-sm-3 col-xs-12">
            <%= image_tag "logo/vincent_phone.png", style: "display: block; margin-left: auto; margin-right: auto" %>
          </div>
        </div>
      </div>
    </header>
  
    <footer id="ht-footer">
    <div class="container">
      <div class="row">
        <div class="copy col-sm-4 col-xs-12">
          <p>2015 - SAS L'Îlot Sucré – RCS Strasbourg TI 810 850 651</p>
        </div>
        <div class="ht-social col-sm-4 col-xs-12">
          <a href="www.facebook.com/lilotsucre" class="fa fa-facebook"></a>
          <a href="https://www.linkedin.com/company/l%27%C3%AElot-sucr%C3%A9" class="fa fa-linkedin"></a>
        </div><!-- social -->
      </div><!-- / row -->
    </div><!-- / container -->
  </footer><!-- / footer -->

  <!-- JS Files -->
  <%= javascript_include_tag "jquery.browser.min" %>
  <%= javascript_include_tag "jquery.easing" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "jquery.stellar.min" %>
  <%= javascript_include_tag "jquery.jcarousel.min" %>
  <%= javascript_include_tag "nivo-lightbox.min" %>
  <%= javascript_include_tag "jquery.BlackAndWhite" %>
  <%= javascript_include_tag "jquery.onscreen.min" %>
  <%= javascript_include_tag "jquery.validate" %>
  <%= javascript_include_tag "validate.contact" %>
  <%= javascript_include_tag "jquery.isotope.min" %>
  <%= javascript_include_tag "jquery.columnizer" %>
  <%= javascript_include_tag "skrollr" %>
  <%= javascript_include_tag "SmoothScroll" %>
  <script src="plugin/datetimepicker/DateTimePicker.js"></script>
  <%= javascript_include_tag "jquery.flexslider" %>
  <script src="js/.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <!--[if lt IE 9]>
   <script type="text/javascript" src="plugin/datetimepicker/DateTimePicker-ltie9.js"></script>
  <![endif]-->
  <%= javascript_include_tag "ht-js" %>
  
  </body>
</html>
