<%= form_for(@price, html: { class:'form-horizontal'}) do |f| %>
  <% if @price.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@price.errors.count, "error") %> prohibited this price from being saved:</h2>

      <ul>
      <% @price.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label "Ingrédient", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :ingredient, value: @ingredient.name, disabled: true %>
      <%= f.hidden_field :ingredient_id, value: @ingredient.id %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Lieu", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :place %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label "Quantité (#{@ingredient.unit})", :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :quantity %>
   </div>
  </div>
  <div class="control-group">
    <%= f.label "Prix (€)", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price %> €
    </div>
  </div>
  <div class="control-group">
    <%= f.submit %>
  </div>
<% end %>
