<% also = [] %>
  <div id="ht-main-content" class="menu">

    <div class="ht-page-heading">
      <div class="container">
        <div class="row">
          <div class="main-heading col-xs-12">
            <h1><strong>&middot;</strong> Nos tartes <strong>&middot;</strong></h1>
          </div><!-- / main-heading -->
          <div class="sub-heading col-sm-6 col-sm-offset-3 col-xs-12">
            <p>Des créations modernes pour réinventer ce classique de nos grand-mères au gré des saisons.</p>
          </div><!-- / sub-heading -->
        </div><!-- / row -->
      </div><!-- / container -->
    </div><!-- / page-heading -->
    
    <div id="ht-menu" class="grid">
      <div class="container">
        <div id="filter-container" class="menu-single-grid grid-2col">
          <div class="row">
            
<% @products.each do |product| %>
  <% if product.image.nil? %>
    <% also << product %>
    <% next %>
  <% end %>
            <div class="dish drink col-sm-6 col-xs-12 onscreen-marker">
              <div class="media-container col-xs-12">
                <div class="inner" style="background-color: white">
                   <img alt="<%= product.name %>" class="img-responsive" src="<%= product.image.url %>" />
                    <a href="<%= product_path(product) %>" class="icon">
                      <img alt="<%= product.name %>" class="img-responsive" src="<%= (product.zoom.nil? ? product.image : product.zoom).url %>" />
                    </a>
                </div><!-- / inner -->

              </div><!-- media-container -->
              <div class="content col-xs-12">
                <a href="<%= product_path(product) %>"><h3><%= raw product.name %></h3></a>
                <p><%= raw product.description %></p>
              </div><!-- content -->
            </div><!-- / dish -->
<% end %>

<% unless also.empty? %>

            <div class="dish drink col-sm-6 col-xs-12 onscreen-marker">
              <div class="content col-xs-12">
                <br /><br /><br />
                <h2>Découvrez également</h2>
                <br /><br />

  <% also.each do |product| %>
                <a href="<%= product_path(product) %>"><h3><%= raw product.name %></h3></a>
                <p><%= raw product.description %></p><br />
  <% end %>
              </div><!-- content -->
            </div><!-- / dish -->
<% end %>

          </div><!-- / row -->
        </div><!-- / filter-container menu-single-grid -->
      </div><!-- container -->
    </div><!-- / ht-menu -->