<!-- TODO : message si non public -->

<div id="ht-main-content" class="menu">

  <div id="ht-menu-detail">
    <div class="container">
      <div class="gallery-dish row">

        <% unless @product.images.empty? %>
        <div class="gallery col-sm-6 col-xs-12 onscreen-marker">
          <div class="main-img media-container">
            <div class="inner col-xs-12">
              <!-- No need to define image source -->
              <img class="img-responsive" src="" alt="">
              <a class="hover-overlay nivo-lightbox" href=""></a>
            </div><!-- / col-sm-4 col-xs-12 -->
          </div><!-- / row -->

          <div class="jcarousel-wrapper">
            <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
            <a href="#" class="jcarousel-control-next">&rsaquo;</a>
            <div class="jcarousel navigation">
              <ul>
                <% @product.images.each do |image| %>
                <li class="bw-wrapper onscreen-marker">
                  <%= image_tag image.url, class: "img-responsive" %>
                </li>
                <% end %>
              </ul>
            </div><!-- / jcarousel -->
          </div><!-- / jcarousel-wrapper -->
          
          <% if user_signed_in? and current_user.id == 1 %>
            <hr />
            <% @product.images.each do |image| %>
              <%= form_for image, method: 'delete' do |f| %>
                <%= f.submit 'Delete' %> - <%= link_to image.url.truncate(50), image.url, target: "_blank" %>
              <% end %>
            <% end %>
            <% unless @product.zoom.nil? %>
              <%= form_for @product.zoom, method: 'delete' do |f| %>
                <%= f.submit 'Delete' %> - <%= link_to @product.zoom.url.truncate(50), @product.zoom.url, target: "_blank" %>
              <% end %>
            <% end %>
          <% end %>
          
        </div><!-- / gallery -->
        <% end %>

        <div class="dish col-sm-6 col-xs-12 onscreen-marker">
          <div class="ht-page-heading">
            <div class="container">
              <div class="row">
                <div class="main-heading col-sm-6 col-xs-12">
                  <h1><strong>&middot;</strong> <%= raw @product.name %> <strong>&middot;</strong></h1>
                </div><!-- / main-heading -->
              </div><!-- / row -->
            </div><!-- / container -->
          </div><!-- / page-heading -->
          <div class="alert animated bounceInRight">
            <% if user_signed_in? and current_user.id == 1 %>
              <%= form_for @product do |f| %>
                <%= f.text_field :name, size: 40 %><br />
                <%= f.text_field :description, size: 75 %><br />
                <%= f.text_field :allergenes, size: 40 %>
                <%= f.submit "Mettre à jour" %>
              <% end %><br />
              <%= form_for ProductImage.new do |f| %>
                <%= f.hidden_field :product_id, value: @product.id %>
                <%= f.select :usage, ["other", "main", "zoom"] %>
                <%= f.text_field :url, size: 45, value: "url" %>
                <%= f.submit "Ajouter image" %>
              <% end %>
            <% else %>
              <%= raw @product.description %>
            <% end %>
          </div>

          <table class="table">
            <% i = 0 %>
            <% @product.prices.each do |price| %>
              <tr class="<%=i%2 == 0 ? "success" : "info"  %>">
                <td><%= price.text %></td>
                <td><%= price.price %> €</td>
                <% if user_signed_in? and current_user.id == 1 %>
                  <td>
                    <%= form_for price, method: 'delete' do |f| %>
                      <%= f.submit 'Delete' %>
                    <% end %>
                  </td>
                <% end %>
              </tr>
              <% i = i + 1 %>
            <% end %>
            <% if user_signed_in? and current_user.id == 1 %>
              <tr>
              <%= form_for ProductPrice.new do |f| %>
                <%= f.hidden_field :product_id, value: @product.id %>
                <td><%= f.text_field :text, size: 20 %></td>
                <td><%= f.text_field :price, size: 5 %> €</td>
                <td><%= f.submit "Ajouter prix" %></td>
              <% end %>
              </tr>
            <% end %>
          </table>
          
          <% @product.allergenes_array.each do |allergene| %>
            <span class="label label-warning"><%= raw allergene %></span>
          <% end %>

          <br />
          <br />

          <form action="/contact">
            <em>Toutes nos pâtisseries sont réalisées sur commande uniquement, de préférence <strong>3 jours ouvrés</strong> avant retrait ou livraison (avec supplément).</em>
            <br />
            <button type="submit" class="btn btn-danger">
              <i class="fa fa-phone"></i>&nbsp;&nbsp;Nous contacter
            </button>
          </form>
        </div><!-- / dish -->

        <% if @product.images.empty? %>
        <div class="recommended col-sm-6 col-xs-12 onscreen-marker" style="padding-top: 100px;">
          <h2>Nous vous recommandons également</h2>
          <div class="jcarousel-wrapper">
            <% @recommandations.shuffle.each do |r| %>
            <div class="col-lg-6 col-sm-6 col-xs-12">
              <a href="<%= r[:url] %>"><%= image_tag r[:images][0], class: "img-responsive center-block" %></a>
              <span class="name"><a href="<%= r[:url] %>"><%= raw r[:name] %></a></span>
            </div>
            <% end %>

          </div><!-- / jcarousel-wrapper -->
        </div><!-- / recommended -->
      </div>
        <% else %>
        </div><!-- / row -->
        <div class="recommended">
          <h2>Nous vous recommandons également</h2>
          <div class="jcarousel-wrapper row">
            <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
            <a href="#" class="jcarousel-control-next">&rsaquo;</a>
            <div class="jcarousel onscreen-marker">
              <ul>
                <!-- Jcarousel -->

                <% @recommandations.shuffle.each do |r| %>

                <li class="item col-sm-3 col-xs-6">
                  <div class="media-container">
                    <div class="inner">
                      <%= image_tag r[:images][0], class: "img-responsive center-block" %>
                      <a href="<%= r[:url] %>" class="hover-overlay" title="<%= raw r[:name] %>" data-lightbox-gallery="gallery1"></a><!-- / hover-overlay -->
                    </div><!-- / inner -->
                  </div><!-- / media-container -->
                  <span class="name"><a href="<%= r[:url] %>"><%= raw r[:name] %></a></span>
                </li><!-- / item -->

                <% end %>

              </ul><!-- / Jcarousel -->
            </div><!-- / jcarousel -->
          </div><!-- / related-dishes -->
        </div><!-- / row -->
        <% end %>

      </div><!-- container -->
    </div><!-- / ht-menu -->
