<!DOCTYPE html>
<html>
<head>
  <title>L'Îlot Sucré</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Kotta+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to image_tag('logo_shorten.jpg', height: '100'), '/index', id: "logo" %>
        <nav><br /><br /><br />
          <ul class="nav navbar-nav pull-left">
            <li><%= link_to "Présentation", '/index' %></li>
            <li><%= link_to "Nos produits", '/produits' %></li>
            <li><%= link_to "Nos évènements", '/evenements' %></li>
            <li><%= link_to "Nos partenaires", '/partenaires' %></li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to "Contact", '/contact' %></li>
            <li><%= link_to "Mentions légales", '/legal' %></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div class="container-fluid">
    <% if notice %>
      <div class="alert"><%= raw t('flash.' + notice) %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-error"><%= raw t('flash.' + alert) %></div>
    <% end %>
    <br />
    
    <%= yield %>
    
    <br /><br /><br />
  </div>
</body>
</html>
