<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- Basic needs -->
  <title>L'Îlot Sucré</title>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content=""> 
  <link rel="shortcut icon" href="img/favicon.ico">

  <!-- Mobile specific meta -->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="format-detection" content="telephone-no"> 

  <!-- CSS files -->
  <%= stylesheet_link_tag "application", :media => "all" %>


  <!-- JS files -->
  <%= javascript_include_tag "jquery" %>

  <!-- Font -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300,700,800,500' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700bold' rel='stylesheet' type='text/css'>
</head>
<body>
  <!-- P A G E   P R E L O A D -->
  <div id="preload">
    <div class="inner">
      <%= image_tag "logo/logo_blanc_preload.png", class: "logo pulse" %>
      <div class="rotate rotating">
        <div class="inner">
          <div class="dot dot-1"></div>
          <div class="dot dot-2"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- / preload -->
  
  <header id="ht-header" data-ht-parallax="300" style="background-image: url('<%= image_path "background/menu.jpg" %>')">
    <div class="filter-overlay"></div><!-- / filter-overlay -->
    <div class="container">
      <!-- Logo -->
      <a id="ht-logo" href="/index">
        <%= image_tag "logo/logo_blanc_preload.png", class: "img-responsive center-block" %>
      </a>

      <button type="button" class="ht-navbar-toggle center-block" data-target="#ht-main-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <nav id="ht-main-nav" role="navigation">
        <ul class="main-nav nav-text">
          <li class="nav">
            <a href="/index" class="animated wobble nav home">
              <i class="icon fa fa-home"></i>
              <span class="text"> Présentation</span>
              <span class="mobile"> Présentation</span>
            </a>
          </li>
          <li class="nav">
            <a class="animated wobble nav menu">
              <i class="icon fa fa-coffee"></i>
              <span class="text">Nos produits</span>
              <span class="mobile"> Nos produits</span>
            </a>
            <div class="link-list hidden">
              <div class="caret-top"></div>
              <ul>
                <li class="nav-head">Nos produits</li>
                <li><a href="/macarons">Nos macarons</a></li>
                <li><a href="/macarons_geants">Nos macarons géants</a></li>
                <li><a href="/gateaux_decores">Nos gâteaux décorés et 3D</a></li>
                <li><a href="/tartes">Nos tartes</a></li>
                <li><a href="/entremets">Nos entremets</a></li>
                <li><a href="/patisseries_americaines">Nos pâtisseries américaines</a></li>
                <li><a href="/desserts_glaces">Nos desserts glacés</a></li>
                <li><a href="/pour_vos_evenements.html">Pour vos évènements</a></li>
              </ul>
            </div><!-- / link-list -->
          </li>
          <li class="nav">
            <a href="/partenaires" class="animated wobble nav history">
              <i class="icon fa fa-book"></i>
              <span class="text">Nos partenaires</span>
              <span class="mobile"> Nos partenaires</span>
            </a>
          </li>
          <li class="nav">
            <a href="/contact.html" class="animated wobble nav contact">
              <i class="icon fa fa-phone"></i>
              <span class="text">Contact</span>
              <span class="mobile"> Contact</span>
            </a>
          </li>
        </ul><!-- / main-nav -->
      </nav><!-- / main-nav -->
    </div><!-- /container -->
  </header><!-- / header -->

    <%= yield %>
    
    <div id="ht-pre-footer">
      <h1 class="sr-only">Hain Theme Pre Footer</h1>
      <div class="container">
        <div class="row">
          <div class="about item col-sm-4 col-xs-12">
            <h2>L'Îlot Sucré</h2>
            <p>L'Îlot Sucré vous propose une escapade gourmande dans l'univers de la pâtisserie d'Ingrid et Vincent. Alliant modernité et classicisme, nos pâtisseries sont à l'image de leurs créateurs : une touche d'évasion et de voyage, un soucis de la qualité des produits et de l'équilibre des saveurs.</p>
          </div><!-- / item -->
          <div class="contact item col-sm-4 col-xs-12">
            <h2>A la commande uniquement</h2>
            <p>Imaginées et créées dans notre laboratoire, nos pâtisseries sont uniquement disponibles à la commande, à effectuer sur place, au téléphone ou par mail.</p>
          </div><!-- / item -->
          
          <div class="contact item col-sm-4 col-xs-12">
            <h2>Nous contacter</h2>
            <address class="address">
              <div class="item">
                <i class="phone"></i><p>Ingrid : 06.60.43.58.33</p>
              </div>
              <div class="item">
                <i class="phone"></i><p>Vincent : 06.34.44.97.56</p>
              </div>
              <div class="item">
                <i class="mail"></i><p>contact@lilotsucre.com</p>
              </div>
              <div class="item">
                <i class="marker"></i><p>18 rue de Cannes, Illkirch-Graffenstaden</p>
              </div>
            </address>
          </div><!-- / item -->
        </div><!-- / row -->
      </div><!-- / container -->  
    </div><!-- pre-footer -->
    
  </div><!-- / main-content -->

  <footer id="ht-footer">
    <div class="container">
      <div class="row">
        <div class="copy col-sm-4 col-xs-12">
          <p>2015 - SAS L'Îlot Sucré – RCS Strasbourg TI 810 850 651</p>
        </div>
        <div class="copy col-sm-3 col-xs-12">
          <%= link_to "Mentions légales", "/legal" %>
        </div>
        <div class="copy col-sm-3 col-xs-12">
          <p>Visuels non contractuels</p>
        </div>
        <div class="ht-social col-sm-2 col-xs-12">
          <a href="http://www.facebook.com/lilotsucre" class="fa fa-facebook"></a>
          <a href="http://lilotsucre.tumblr.com" class="fa fa-tumblr"></a>
          <a href="https://www.linkedin.com/company/l%27%C3%AElot-sucr%C3%A9" class="fa fa-linkedin"></a>
        </div><!-- social -->
      </div><!-- / row -->
    </div><!-- / container -->
  </footer><!-- / footer -->

  <!-- JS Files -->
  <%= javascript_include_tag "application" %>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <!--[if lt IE 9]>
   <script type="text/javascript" src="plugin/datetimepicker/DateTimePicker-ltie9.js"></script>
  <![endif]-->
  
</body>
</html>